@media (max-width: 500px) {

    .browseContainer {

        .pokeForm {
        width: 100%;
     }
    }

    .singlePokemonContainer {

        img {
            width: 280px;
            height: 280px;
        }
    }
}